body {
  margin: 0px;
  font-family: Arial;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

.overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.overlay > div {
  background: white;
  height: fit-content;
  padding: 20px;
  border-radius: 10px;
}

.table1 {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.table1 td, .table1 th {
  border: 1px solid;
  padding: 5px;
}

.table2 {
    font-family: Arial;
    border-collapse: collapse;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 3px 10px 0 rgba(0, 0, 0, 0.01);
    border-radius: 10px;
}

.table2 td,
.table2 th {
    padding: 5px 20px;
    text-align: left;
}

.table2 td {
    height: 50px;
    background: white;
    border-top: 1px solid lightgray;
    font-size: 14px;
}

.table2 tr:hover {
    background-color: #ddd;
    font-family: Arial;
    color: #2d3e83;
}

.table2 th {
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 20px;
    background-color: #2d3e83;
    color: white;
}

.table2 th:first-child {
    border-top-left-radius: 10px;
}

.table2 tr:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.table2 th:last-child {
    border-top-right-radius: 10px;
}

.table2 tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

.table2 tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}


.table3 {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.table3 td, .table3 th {
  padding: 5px;
}
